div(class="dialog article-dialog")
  a(class="close" onclick="closeArticleDialog()") &times;
  .dialog-content
    .apc-illustration
      i(class="fas fa-balance-scale-right")
      h2.dialog-impot Article du code
       
    .main-dialog
      .article-content

      button(onclick="closeArticleDialog()") Fermer