div(class="rf regime-fiscal-cn mc-it")
  h1 
    i(class="far fa-star")
    span Mon régime fiscal
  p Le regime fiscal c'est l'ensemble des impôts que vous devez payer en fonction de votre forme juridique et votre secteur d'activité
  - var secteurActivite = user.