div(class="dialog forme-juridique-update")
  a(class="close" onclick="closeUpdateFormJuridiqueDialog()") &times;
  .dialog-content
    .apc-illustration
      i(class="fa fa-bell")
      h2 Mettre à jour la forme juridique
    div.dialog-form
      .form-group
        label Choisissez votre forme juridique
        select(class="forme-juridique")
      button(onclick="updateFormeJuridique()") Créer