extends ../layout

block content
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/dialog.css')

  header
    img(src="/images/logo_easytax.png")

  main
    p.result
    button(onclick="window.location='/'" class="hide-element") Revenir à l'écran de connexion
    h2(class="pm-color") Mot de passe oublié
    h3 Changez votre mot de passe

    .form-group
      label Nouveau mot de passe
      input(type="password" name="password")
    
    .form-group
      label Confirmer nouveau mot de passe
      input(type="password" name="confPassword")

    button(onclick="verifyAndUpdatePassword()") Envoyer

  script(src="/javascripts/forgot_password.js")
  script(src="/javascripts/change_forgot_password.js")
