extends ../layout

block content
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/forgot_password.css')

  header
    img(src="/images/logo_easytax.png")

  main
    h2 Envoyez nous l'adresse email de votre compte

    .form-group
      label Adresse Email
      input(type="email" name="email")

    button() Envoyer
    p.result

  script(src="/javascripts/forgot_password.js")
