extends ../layout

block content
    link(rel='stylesheet', href='/stylesheets/adhesion.css')
    main
        include ../includes/welcome.pug
        .form-container
            .header
                p Vous avez déjà un compte?
                    a(href="/connexion" class="pm-color") Connectez vous
            
            form(action="/users", method="post")
                .form-header
                    h1 Inscription à Easytax
                .blue-text-field
                    label(for="nom") Nom ou raison social
                    input(type="text" name="nom" id="nom")
                
                .blue-text-field
                    label(for="password") Choisissez un mot de passe pour votre compte
                    input(type="password" name="password" id="password")
                
                .blue-text-field
                    label(for="nomdirigeant") Nom du dirigeant
                    input(type="text" name="nomDirigeant" id="nomdirigeant")

                .blue-text-field
                    label(for="email") Adresse Email
                    input(type="email" name="email" id="email")
                
                .blue-text-field
                    label(for="telephone") Numéro de téléphone
                    input(type="tel" name="telephone" id="telephone")

                input(type="submit" class="btn-yellow", value="Je m'inscris" class="sd-bg-color white")

                p(class="small-info") En cliquant sur je m'inscris, vous acceptez la
                    a(href="#" class="sd-color") politique de confidentialité
                    span et les
                    a(href="#" class="sd-color") conditions d'utilisation de easytax