
mixin bar(a)
  - var array = a
  .bases
    - for(var x = 0; x < array.length; x++)
      .base()
        - var title = array[x].title
        - var numero = x
        - var details = array[x].details
        p.title=title
        p.bulle(title=details)
          span=numero
          i(class="fa fa-check")
      if x < array.length - 1
        .bar  