div(class="dialog update-password")
  a(class="close" onclick="closeDialog()") &times;
  .dialog-content
    .apc-illustration
      i(class="fa fa-lock")
      h2 Changer le mot de passe
    div.dialog-form
      .form-group
        label Nouveau mot de passe
        input(type="password" name="password")
      .form-group
        label Confirmer nouveau mot de passe
        input(type="password" name="confPassword")
      button(onclick="verifyAndUpdatePassword()") Modifier