.welcome-container
  .top
    img(src="/images/logo_easytax.png", alt="Logo de easytax")
  .middle
    h1 Votre fiscalité en un clic
    p
      span Quel sont les impôts que je dois payer ? Quand ? Pourquoi ? Et combien ça va me coûter?
      br
      span Easytax vous aide à répondre à toutes ces questions.
  .bottom
    a(href="#" class="outline-yellow-btn") En savoir plus
