.welcome-container
  .top
    img(src="/images/logo_easytax.png", alt="Logo de easytax")
  .middle
    h1 Votre fiscalité en un clique
    p Morbi tincidunt fringilla cursus. Fusce et magna diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a finibus orci, et ultrices ligula. Vivamus eu diam aliquet, eleifend tellus at, tempus ligula. Pellentesque ac elit turpis.
  .bottom
    a(href="#" class="outline-yellow-btn") En savoir plus