extends layout

block content
    link(rel='stylesheet', href='/stylesheets/connexion.css')
    main
        .welcome-container
            .top
                img(src="/images/logo_easytax.png", alt="Logo de easytax")
            .middle
                h1 Votre fiscalité en un clique
                p Morbi tincidunt fringilla cursus. Fusce et magna diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a finibus orci, et ultrices ligula. Vivamus eu diam aliquet, eleifend tellus at, tempus ligula. Pellentesque ac elit turpis.
            .bottom
                a(href="#" class="outline-btn") En savoir plus

        .form-container(class="pm-bg-color white")
            .header
                p Vous n'avez pas encore de compte?
                    a(href="/inscription" class="pm-color") Inscrivez vous
            
            form(action="/users/auth", method="post")
                input(type="hidden" name="granttype" value="password")
                .form-header
                    h1 Connexion à Easytax
                .form-group
                    label(for="identifiant") Identifiant ou Email
                    input(type="text" name="identifiant" id="identifiant")
                
                .form-group
                    label(for="password") Mot de passe
                    input(type="password" name="password" id="password")

                input(type="submit", value="Je me connecte" class="sd-bg-color white")