extends layout

block content
  link(rel="stylesheet", href="/stylesheets/home.css")
  link(rel="stylesheet", href="/stylesheets/alert.css")

  header
    nav.menu
      a(href="/" class="nav-item")
        i(class="fa fa-poll")
        span Ma fiscalité
      a(href="/declaration" class="nav-item") 
        i(class="fas fa-pencil-alt")
        span Déclaration
      a(href="/profil" class="nav-item") 
        i(class="fas fa-user-circle")
        span Mon profile
      a(href="/deconnexion" class="nav-item") 
        i(class="fas fa-sign-out-alt")
        span Déconnexion
    img( class="logo" src="/images/logo_easytax.png", alt="Logo easytax")
    div
      - var nom = user.nom;
      h1(class="special") 
        i(class="fa fa-star")
        span= nom

  div(class="alert zero-height")
    .alert-header
      a(href="#" class="alert-close" onclick="hideSituationFiscaleAlertDialog()") &times;
    p Pour pouvoir effectué cette opération il faut compléter les informations suivantes
    .right
      Test
  main
    nav.nav-bar
      a(href="#" id="sf" class="nav-bar-item active" onclick="enableNavBarItem(this)")
        i(class="fa fa-poll")
        span Situation fiscal
      a(href="#" id="rf" class="nav-bar-item"  onclick="enableNavBarItem(this)") 
        i(class="fa fa-poll")
        span Régime fiscal 
      a(href="#" id="dlp" class="nav-bar-item" onclick="enableNavBarItem(this)") 
        i(class="fa fa-clock")
        span Date limite de paiement

    .main-content
      div(class="sf mc-it active")
        h1 
          i(class="far fa-star")
          span Ma situation fiscale
        .illustration-cn
          img(class="reflexion-img" src="https://images.unsplash.com/photo-1434030216411-0b793f4b4173?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80", alt="Illustration")
          .details
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum nihil eaque, voluptate nostrum praesentium inventore cumque temporibus quo culpa incidunt excepturi reiciendis quos repellat ratione atque ipsam magni amet pariatur!
            - var str = JSON.stringify(user);
            a(href="#" onclick="showSituationFiscalAlerteDialog("+str+")" class="btn") Déterminer ma situation fiscale
      div(class="rf mc-it")
        p Régime fiscal
      div(class="dlp mc-it")
        p Date limite de paiement
  
  script(src="/javascripts/home.js")
  script(src="/javascripts/alert.js")


      