doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css2?family=Jost&family=Noto+Sans&family=Noto+Sans+JP&family=Open+Sans&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css")
    link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")
    script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
  body
    block content
