body {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1500354960738-4c480ed785bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

main {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 70vw;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 20px solid #cccccc;
    margin-top: 80px;
    margin-bottom: 40px;
}

.welcome-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.welcome-container img {
    width: 100px;
    height: auto;
}

.top {
    padding: 20px;
}

.welcome-container h1 {
    text-align: center;
    padding: 20px;
    font-size: 18px;
}

.welcome-container p {
    padding: 8px;
    font-size: 1em;
    line-height: 1.8em;
}

.bottom {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
    text-align: right;
}

.header a {
    text-decoration: none;
    color: #ECA821;
}

.header p {
    text-align: right;
}

.form-container {
    padding: 16px;
    background-color: #004486;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-header {
    text-align: left;
    width: 80%;
    padding: 20px 0px;
}

.blue-text-field {
    width: 50%;
    margin-bottom: 16px;
}

input[type="submit"]{
    width: 50%;
    margin: 20px;
}

.adhesion-dialog {
    display: flex;
}

@media screen and (max-width: 640px){
    .welcome-container  > * {
        display: none;
    }

    .welcome-container .top {
        display: block;
        text-align: center;
        padding: 0px;
    }

    .welcome-container {
        margin: 0px;
        padding: 0px;
    }

    .form-container {
        color: black;
        background-color: white;
    }

    .header p {
        text-align: center;
        padding: 8px;
    }

    .header {
        padding: 0px;
    }

    main {
        width: 100vw;
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: 0px;
    }

    body {
        background: none;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0;
    }

    .blue-text-field, input[type="submit"]{
        width: 100%;
    }

    .blue-text-field input {
        color: black;
    }
}