div {
    margin: 0px;
    padding: 0px;
}

button {
    margin-top: 40px;
    margin-bottom: 20px;
}

.form-group label {
    color: black;
}

.annule-button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: #777777;
    text-decoration: underline;
}

.alerts button {
    font-size: 14px;
    background-color: #b57900;
}

.alerts td:nth-child(4){
    text-align: center;
    padding: 0px;
}

button {
    margin: 8px;
}

@media screen and (max-width: 1024px){
    .alert-paiement-cn {
       width: 90vw;
       padding: 16px;
       margin-left: 0px;
    }

    table {
        width: 100%;
    }
}