main {
    margin-top: 95px;
    padding: 16px;
}

.form-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 16px;
}

.form-list li {
    padding: 16px;
}

main > div {
    display: none;
}

main > .current-declaration {
    display: block;
}

.form-group label {
    color: black;
    padding-top: 8px;
}

.form-group {
    flex-direction: column-reverse;
}

.form-ctn {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
}

.actions {
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}