

.dialog-content {
    background-color: #ffffff;
    border: #cccccc;
    box-shadow: -1px 2px 10px #222222;
    width: 50%;
    display: flex;
    flex-direction: row;
}

.apc-illustration {
    background-color: #006EB6;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

.apc-illustration i {
    font-size: 78px;
}


.apc-illustration h2 {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}

.dialog-content .form-group label {
    color: black;
    padding: 0;
    margin: 0;
}

.dialog-content .form-group input {
    margin: 0px;
    padding-left: 8px;
    padding-right: 8px;
}

.dialog-content .form-group {
    padding: 0;
    margin-bottom: 20px;
}

.dialog-content .dialog button {
    margin-top: 16px;
}

.main-dialog {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
}

.main-dialog > div {
    width: 100%;
}

@media screen and (max-width:900px) {
    .dialog-content {
        flex-direction: column;
        width: 90%;
    }

    .apc-illustration i {
        font-size: 18px;
    }

    .apc-illustration {
        flex-direction: row;
        align-items: center;
    }
}