.facturation-table {
    margin-top: 40px;
    margin-bottom: 80px;
}



.facturation-table * {
    text-align: center;
}

.facturation-table form {
    width: 100%;
    margin-top: 16px;
}

.facturation-table th p , .facturation-table td p {
    width: 200px;
}

.active {
    background-color: #b57900;
}

.facturation-table th p, .facturation-table th h2 {
    font-weight: normal;
}
