* {
    transition: 0.4s;
}

.mc-it {
    display: none;
}

.active {
    display: block;
}

main {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 0px 80px;
    margin-top: 80px;
}

.nav-bar {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0px;
    left: 0px;
}

.nav-bar-item {
    text-decoration: none;
    margin: 8px 0px;
    padding: 8px;
    font-weight: bold;
    color: #006EB6;
}

a.active {
    background-color: #569de99a;
    border-radius: 4px;
}

.main-content {
    padding: 0px 20px;
}

.situation-fiscale-cn  .reflexion-img {
    width: 300px;
    height: 300px;
    border-radius: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.situation-fiscale-cn .illustration-cn {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;

}

h1 {
    font-family: 'Noto Sans JP', sans-serif;
}

.main-content h1 {
    font-size: 18px;
    padding: 8px;
    color: rgb(14, 52, 78);
    font-weight: 700;
    border-bottom: 1px solid rgb(14, 52, 78);
}

@media screen and (max-width: 640px){
    main {
        display: grid;
        grid-template-columns: auto;
        margin: 0px;
        padding: 8px;
        width: 100vw;
        overflow-x: hidden;
    }

    .nav-bar {
        display: grid;
        grid-template-columns: max-content max-content max-content;
        overflow-x: scroll;
        justify-content: start;
        align-items: center;
        width: 100%;
        padding: 0px;
        margin: 0px;
        position: static;
    }
    
    .situation-fiscale-cn .illustration-cn {
        flex-direction: column;
    }

    .situation-fiscale-cn .reflexion-img {
        width: 200px;
        height: 200px;
    }
}