main {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 25% 75%;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
}

.result {
    display: none;
    margin: 20px;
    margin-top: 80px;
}

.result h1 {
    font-size: 24px;
    padding: 20px;
    text-align: center;
}

.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.impots {
    padding: 16px;
    background-color: #004486;
}

.impots p {
    margin: 4px;
    padding: 8px;
    color: white;
    background-color: #006EB6;
}

.impots p.current-impot {
    background-color: #ECA821;
}

.form-ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

@media screen and (max-width: 1024px){

    .impots {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-right: 20px;
        overflow-x: scroll;
        flex-wrap: wrap;
    }

    .impots p {
        text-align: center;
    }

    main {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: flex-start;
        overflow-x: hidden;
    }
}