* {
    transition: 0.4s;
}

header {
    background-color: #efefef;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    box-shadow: -1px 0.5px 5px #777777;
    width: 100vw;
    padding-right: 40px;
}

body {
    overflow-x: hidden;
}

.logo {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);
    width: 40px;
    height: auto;
}

.nav-item {
    text-decoration: none;
    color: white;
    padding: 8px;
    background-color: #006EB6;
    border-radius: 2px;
    width: 40px;
    text-align: center;
    margin: 2px;
}

.menu {
    display: flex;
    flex-direction: row;
}

.nav-item span {
    display: none;
}

.logo-cn {
    text-align: center;
}

header h1 {
    font-size: 16px;
    color: #006EB6;
    padding: 8px;
    border: 1px solid #006EB6;
    margin: 4px;
    display: inline-block;
    border-radius: 4px;
}

header h1 i {
    padding-right: 8px;
}

header div {
    text-align: end;
}

.bases {
    width: 100%;
    padding: 80px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
}

.base {
    color: white;
    background-color: #ECA821;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    line-height: 50px;
    transition: 0.5s;
}

.bar {
    height: 4px;
    background-color: #ECA821;
    flex-grow: 10;
    transition: 0.5s;
}


.bar-active {
    background-color: #006EB6;
}

.form-container > div {
    display: none;
}

.form-container > .current-base {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    align-items: center;
}

.current-base > div {
    display: none;
}

.current-base > .question {
    display: none;
}

.current-base > .show-div {
    display: flex;
}

.current-base > .show-question {
    display: block;
}

.question {
    font-size: 24px;
    color: #000000;
    padding: 20px;
    font-family: "Noto Sans JP";
    font-weight: 500;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    background-color: white;
    color: #006EB6;
    border: 2px solid #006EB6;
    padding: 8px 32px;
    border-radius: 4px;
    font-weight: bolder;
}

input[type="radio"]+label:hover {
    cursor: pointer;
    background-color: #006EB6;
    color: white;
}

input[type="text"] {
    border: none;
    background-color: #eeeeee;
    color: #000000;
    padding: 8px 16px;
    font-size: 18px;
    border-radius: 8px;
}

input[type="text"]:hover {
    border: none;
    border: 2px solid #006EB6;
    cursor: pointer;
}

input[type="text"]:focus {
    border: none;
    border: 2px solid #006EB6;
    outline: none;
}

.yes-no-cn {
    display: flex;
    flex-direction: column;
}

.text-field-cn {
    display: grid;
    display: flex;
    flex-direction: column;
    gap: 1%;
    padding: 20px;
    flex-wrap: wrap;
}

.form-group {
    display: flex;
    flex-direction: column-reverse;
    padding: 8px;
    width: 50vw;
}

.actions-btn-cn {
    text-align: center;
    padding: 20px;
    margin-bottom: 40px;
}

.hide {
    display: none;
}

.result-cn {
    padding: 40px;
    padding-top: 80px;
}

.result-cn p {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    color: #006EB6;
    padding-bottom: 0px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
table strong {
    font-size: 18px;
    color: #006EB6;
}