* {
    transition: 0.4s;
}

header {
    background-color: white;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    padding-right: 40px;
    padding-left: 40px;
}

body {
    overflow-x: hidden;
}

.logo {
    width: 64px;
    height: auto;
}

.nav-item {
    text-decoration: none;
    color: white;
    padding: 8px;
    background-color: #006EB6;
    border-radius: 2px;
    width: 40px;
    text-align: center;
    margin: 2px;
}

.menu {
    display: flex;
    flex-direction: row;
}

.nav-item span {
    display: none;
}

.logo-cn {
    text-align: center;
}

.bases {
    width: 100%;
    padding: 40px 20px;
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #004486;
    position: sticky;
    bottom: 0;
    left: 0;
}

header h1 {
    font-size: 16px;
    color: #006EB6;
    padding: 8px;
    border: 1px solid #006EB6;
    margin: 4px;
    display: inline-block;
    border-radius: 4px;
}

header h1 i {
    padding-right: 8px;
}

header div {
    text-align: end;
}

.form-container>div {
    display: none;
}

.form-container>.current-base {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    align-items: center;
    margin-bottom: 100px;
}

.current-base>div {
    display: none;
}

.current-base>.question {
    display: none;
}

.current-base>.show-div {
    display: flex;
}

.current-base>.show-question {
    display: block;
}

.question {
    font-size: 18px;
    color: #000000;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    background-color: white;
    color: #006EB6;
    border: 2px solid #006EB6;
    padding: 8px 32px;
    border-radius: 4px;
    font-weight: bolder;
}

input[type="radio"]:checked+label {
    background-color: #006EB6;
    color: white;
}

input[type="radio"]+label:hover {
    cursor: pointer;
    background-color: #006EB6;
    color: white;
}

.yes-no-cn {
    display: flex;
    flex-direction: column;
}

.text-field-cn {
    display: grid;
    display: flex;
    flex-direction: column;
    gap: 1%;
    padding: 20px;
    flex-wrap: wrap;
}

.form-group {
    flex-direction: column-reverse;
    width: 40vw;
    padding: 8px;
}

.actions-btn-cn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 40px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.hide {
    display: none;
}

.result-cn {
    padding: 20px;
    padding-top: 80px;
}

.result-cn p {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    color: #006EB6;
    padding-bottom: 0px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

table strong {
    font-size: 18px;
    color: #ffffff;
}

div.question ul {
    text-align: left;
    font-size: 8;
    color: #777777;
    padding-top: 16px;
}

div.question ul li {
    font-size: 8;
}

div.question {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.question p {
    font-size: 18px;
    padding-top: 8px;
}

.result-cn h1 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 18px;
    color: #ECA821;
}

.result-cn tfoot {
    background-color: #569ce9;
}

.forfait {
    display: none;
}

.show-forfait {
    display: block;
}

.isl {
    display: none;
}

.irpp-cn {
    display: block;
}

.hide-irpp {
    display: none;
}

.isl-cn {
    display: none;
}

.show-isl {
    display: block;
}

th span, tr span {
    padding-left: 8px;
}

@media screen and (max-width: 1024px) {
    .form-group {
        width: 90vw;
    }
    .actions-btn-cn {
        padding: 16px;
        background-color: white;
        margin-bottom: 0px;
    }
    .bases {
        position: static;
    }

    td {
        page-break-inside: avoid !important;
        white-space: nowrap;
    }
}