/**
  Les couleurs de easytax
  BLUE
  ------------------------
  primary: #006EB6
  ------------------------
  primary-dark: #004486
  ------------------------
  primary-light: #569ce9

  YELLOW
  ------------------------
  primary: #ECA821
  ------------------------
  primary-dark: #b57900
  ------------------------
  primary-light: #ffd957
*/

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Jost', sans-serif;
  box-sizing: border-box;
}

/* Les couleurs de l'application*/
.pm-color {
  color: #006EB6;
}

.pm-dark-color {
  color: #004486;
}

.sd-color {
  color: #ECA821;
}

.white {
  color: #ffffff;
}

.pm-bg-color {
  background-color: #006EB6;
}

.pm-dark-bg-color {
  background-color: #004486;
}

.sd-bg-color {
  background-color: #ECA821;
}

.bg-white {
  background-color: #ffffff;
}

.outline-yellow-btn {
  padding: 4px 20px;
  border: 1px solid #b57900;
  text-decoration: none;
  color: #b57900;
  border-radius: 4px;
  transition: 0.1s;
}

.outline-yellow-btn:hover {
  transform: scale(1.02);
}


.small-info {
  font-size: 0.65em;
}

p a {
  display: inline-block;
  padding: 0px 8px;
}

.btn-yellow {
  padding: 4px;
  text-decoration: none;
  color: white;
  background-color: #b57900;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
  border: none;
  outline: none;
  transition: 0.4s;
}

.btn-yellow:hover {
  cursor: pointer;
  opacity: 0.8;
}

table thead {
  background-color: #004486;
  color: white;
}

button {
  border: none;
  outline: none;
  background-color: #006EB6;
  color: white;
  border-radius: 4px;
  padding: 8px 3px;
  transition: 0.4s;
  padding: 8px 16px;
  font-size: 14px;
}

button:hover {
  cursor: pointer;
  opacity: 0.5;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.blue-text-field input {
  background-color: #006EB6;
  color: white;
  font-weight: 200;
  font-size: 16px;
  border: 2px solid #006EB6;
  padding: 4px;
  border-radius: 4px;
  transition: 0.4s;
}

.blue-text-field input:focus {
  outline: none;
  border-color: #ECA821;
}


.blue-text-field {
  display: flex;
  flex-direction: column;
}

.hide-label label {
  display: none;
}

.horizontal-space {
  flex-grow: 10;
}

.form-group input {
  background-color: #cccccc;
  color: #444444;
  font-weight: 200;
  font-size: 16px;
  border: 2px solid #cccccc;
  padding: 4px;
  border-radius: 4px;
  transition: 0.4s;
}

select option {
  padding: 16px;
}

.form-group input:focus, .form-group select:focus {
  outline: none;
  border-color: #ECA821;
  background-color: #eeeeee;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.dialog {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #00000070;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: flex-start;
  display: none;
  z-index: 50000000;
  overflow-y: scroll;
  padding-top: 60px;
}

.show-dialog {
  display: flex;
}

.dialog .close {
  position: fixed;
  top: 24px;
  right: 24px;
  color: white;
  font-size: 36px;
}

.dialog .close:hover {
  opacity: 0.5;
  cursor: pointer;
}

.dialog-content {
  background-color: #ffffff;
  border: #cccccc;
  box-shadow: -1px 2px 10px #222222;
  width: 50%;
  display: flex;
  flex-direction: row;
}

.dialog-form {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.dialog-form .form-group label {
  margin-bottom: 16px;
}

.hide-element {
  display: none;
}

input[type="password"]{
  font-family: 'Open Sans', serif;
  font-size: 1.2em;
}


.invalide {
  border-color: #ECA821;
}

.invalide:focus {
  border-color: #ECA821;
}

.blue-text-field span {
  font-size: 12px;
  color: #ECA821;
  padding-top: 4px;
}

input:disabled {
 opacity: 0.4;
}

@media screen and (max-width: 640px) {
  .blue-text-field input {
    padding: 8px;
    background-color: #cccccc;
    border-color: #cccccc;
  }

  .btn-yellow {
    padding: 8px;
  }

  .form-group input {
    color: black;
  }

  .blue-text-field span {
    color: #004486;
  }
}