h2 Formulaire à déposer au centre des impôts

ul.form-list(class="particulier")
  li
    a(href="#" onclick="changeView('irpp')") Formulaire IRPP

ul.form-list(class="societe")
  li
    a(href="#"  onclick="changeView('is1')") Formulaire premier acompte IS
  li
    a(href="#"  onclick="changeView('is2')") Formulaire deuxième acompte IS
  li
    a(href="#"  onclick="changeView('is')") Formulaire solde IS
