.fiche(class="fiche-irpp")
  .page(id="page")
    .doc-head
      div
        h1 République Gabonaise
        h2 Ministère de l'économie
        h3 - - - - - - - - - - - - - - -
        h3 Direction Générale des Impôts
        h4 BP 37 / 45 - Libreville
        h4 Tel: 79.53.76 ou 79.53.77 
      .space
      .cache-service
        p Date de réunion et cachet du service

    .doc-title
      h1 Déclaration
      p (À établir en deux exemplaires)
      h2 Impôt sur le revenu des personnes physiques (Assistants techniques)

    .doc-date(style="padding: 4px;")
      p Année: 
        strong.annee
        em (exercice au titre duquel les impositions sont dues)



    .doc-step-1
      .public
        h3 I - dentification du contribuable, Chef de famille
        .doc-nif
          p
            strong N° du contribuable:  
            span.nif    |__|__|__|__|__| |__|
          em (Numéro d’Identification Fiscale (NIF))

        .grid-2
          .key-value
            p.key
              span Nom : M, Mme, Mlle
              em (rayer les mentions inutiles)
            p.nom
          .key-value
            p.key 
              span Prénom :
            p.prenom
          .key-value
            p.key
              span Nationalité : 
              em (souligner le prénom usuel)
            p.nationalite
          .key-value
            p.key Date et lieu de naissance :
            p.date_naissance
          .key-value
            p.key Quartier :
            p.quartier
          .key-value
            p.key Boîte postale :
            p.boite_postale
          .key-value
            p.key Ville :
            p.ville
          .key-value
            p.key Arrondissement :
            p.arrondissement
          .key-value
            p.key Télécopie :
            p.telecopie 
          .key-value
            p.key Téléphone :
            p.telephone
          .key-value
            p.key Site Internet :
            p.site_internet
          .key-value
            p.key Adresse E. mail :
            p.email
          .key-value
            p.key
              span Code de résidence :
              em (Résidence d’affectation de l’impôt)
            p.email
      .reserve
        p.title Cadre réservé à l’Administration

    .doc-step-22
      h3 II - Situation de famille au 1 er janvier de l’année des revenus
        em (ou au 31 décembre si la situation vous est plus favorable) (cocher une seule selon votre situation familiale)
      .public
        .grid-3
          p - marié:
          .little-rect
          ul
            li Date et lieu du mariage :
            li Nom et prénom du conjoint :
            li Date de naissance
            li
              p
                strong N° du contribuable:  
                span.nif    |__|__|__|__|__| |__|
              em (Numéro d’Identification Fiscale (NIF))

          p - célibataire :
          .little-rect
          ul

          p - veuf :
          .little-rect
          ul
            li Date du décès du conjoint :
          p - divorcé ou séparé de corps :
          .little-rect
          ul
            li Date du divorce ou de l’acte constatant la séparation :

      h3(style="border-top: 1px solid black;") Enfants à charge au 1 er janvier de l’année des revenus
        em (ou au 31 décembre si situation vous est plus favorable) (Le nombre d’enfants pris en compte dans le foyer fiscal est limité à six (6))

      .enfant-charges
        table.enfants-tab
          thead
            tr
              th Nom et prénom
              th Lien de parenté
              th Date et lieu de naissance ou mention « infirme »
          tbody
            for i in [1, 2, 3, 4, 5, 6]
              tr 
                td #{i}
                td
                td

        .enfant-info
          p 
            strong Sont considérés à charge : 
          p 
            strong Les enfants :
          ul
            li - les enfants légitimes reconnus ou adoptifs de moins de 21 ans au 1er janvier de l’année d’imposition ou de moins de 28 ans s’ils poursuivent leurs études (joindre un certificat de scolarité) ;
            li - infirmes quel que soit leur âge s’ils sont à la charge des parents ;
            li - orphelins recueillis dans votre foyer fiscal pour lesquels vous ne demandez pas une imposition distincte.


    .footer
      p 1


  .page(id="page-2")
    .revenus
      .public

        h3 III- Revenues réalisés au Gabon 

        h5 
          span A - Traitements, salaires, pensions et rentes viagères 
          strong 1
            sup er
            span salarié

        h4(style="text-align: center") Vous même
        p(style="text-align:center; font-size: 10px;")
          strong (Dans l’hypothèse où les deux conjoints sont assistants techniques, globaliser ci-après le calcul du revenu taxable des deux conjoints)


        p.p-tc(style="padding-left: 20px") 
          span Profession exercée (chef de famille) :
          span I__I TC oui: 1, non: 2
        p.p-tc(style="padding-left: 20px") 
          span Profession exercée ( conjoint A.T.) :
          span I__I TC oui: 1, non: 2
        p(style="padding-left: 20px") Nom et adresse de l’employeur (chef de famille) :
        p(style="padding-left: 20px") Nom et adresse de l’employeur ( conjoint A.T.) :

        p(class="p-rect") 
          span 1- sommes perçues en 20__ ( Montant communiqué par le Service de Coopération et d’Action Culturelle de l’Ambassade de France) :
          span.medium-rect
          span.rf I__I__I__I__I__I__I__I__I

        p(class="p-rect") 
          span 2 – à déduire retraite et sécurité sociale, contribution solidarité
          span.medium-rect
          span.rf I__I__I__I__I__I__I__I__I

        p(class="p-rect") 
          span 3 – à déduire abattement exceptionnel de 40% 3 = (1 – 2) x 40%
          span.medium-rect
          span.rf I__I__I__I__I__I__I__I__I

        p(class="p-rect") 
          span 4 – à déduire : 20% pour les frais professionnels :(limité à 10.000.000 Fcfa) 4 = (1 – 2 – 3) x20%
          span.medium-rect
          span.rf I__I__I__I__I__I__I__I__I

        p(class="p-rect") 
          span 5 - Revenu net taxable : (5 = 1 – (2 + 3 + 4)
          span.medium-rect
          span.rf I__I__I__I__I__I__I__I__I

        p(class="p-rect") 
          span 6 – IRPP retenue par votre employeur
          span.medium-rect
          span.rf I__I__I__I__I__I__I__I__I

        h5(style="text-align: center")
          span Votre épouse (employée localement)
          strong 2
            sup ème
            span salarié

        p(style="padding-left: 20px") Profession exercée :
        p(style="padding-left: 20px") Nom et adresse de l’employeur :
        p.p-tc(style="padding-left: 20px")
          span NIF de l’employeur : I__I__I__I__I__I__I I__I
          span I__I TC oui: 1, non: 2


        p(class="p-rect") 
          span 7 – sommes perçues en 20__ (total brut communiqué par l’employeur y compris les indemnités d’éloignement et avantages divers) :
          span.medium-rect
          span.rf I__I__I__I__I__I__I__I__I

        p(class="p-rect") 
          span 8 – à déduire : Taxe complémentaire sur les traitements et salaires retenue au cours de l’année 20__ :
          span.medium-rect
          span.rf I__I__I__I__I__I__I__I__I

        p(class="p-rect") 
          span 9 – Revenu brut imposable : (9 = 7 – 8)
          span.medium-rect
          span.rf I__I__I__I__I__I__I__I__I

        p(class="p-rect") 
          span 10 - à déduire : 20% pour les frais professionnels (limité à 10.000.000 Fcfa) (taux de 25% pour les membres du gouvernement et du parlement)
          span.medium-rect
          span.rf I__I__I__I__I__I__I__I__I

        p(class="p-rect")  
          span 11 – Revenu net taxable : (11 = 9 – 10)
          span.medium-rect
          span.rf I__I__I__I__I__I__I__I__I

        p(class="p-rect") 
          span 12 – IRPP retenu par l’employeur durant l’année :
          span.medium-rect
          span.rf I__I__I__I__I__I__I__I__I

        h5(style="text-align: center")
          span Vos enfants déclarés à charge (employés localement)
          strong Autre salarié
        span(style="text-align: center; font-size: 10px") (globaliser les traitements et salaires de tous vos enfants à charge exerçant une activité salarié)

        p(style="padding-left: 20px") Profession exercée :
        p(style="padding-left: 20px") Nom et adresse de l’employeur :
        p.p-tc(style="padding-left: 20px")
          span NIF de l’employeur : I__I__I__I__I__I__I I__I
          span I__I TC oui: 1, non: 2

        p(class="p-rect") 
          span 13 – sommes perçues en 20__ : (total brut communiqué par l’employeur y compris les indemnités d’éloignement et avantages divers)
          span.medium-rect
          span.rf I__I__I__I__I__I__I__I__I

        p(class="p-rect") 
          span 14 – à déduire : Taxe complémentaire sur les traitements et salaires retenue au cours de l’année 20__
          span.medium-rect
          span.rf I__I__I__I__I__I__I__I__I

        p(class="p-rect") 
          span 15 – Revenu brut imposable : (15 = 13 – 14)
          span.medium-rect
          span.rf I__I__I__I__I__I__I__I__I

        p(class="p-rect") 
          span 16 – à déduire : 20% pour les frais professionnels : (limité à 10.000.000 Fcfa) (taux de 25% pour les membres du gouvernement et du parlement)
          span.medium-rect
          span.rf I__I__I__I__I__I__I__I__I

        p(class="p-rect")  
          span 17 – Revenu net taxable :
          span.medium-rect
          span.rf I__I__I__I__I__I__I__I__I

        p(class="p-rect")  
          span 18 – IRPP retenu par l’employeur durant l’année : (17 = 15 – 16)
          span.medium-rect
          span.rf I__I__I__I__I__I__I__I__I

        p(class="p-rect")  
          span 19 – Total des traitements et salaires nets taxables : (19 = 5+11+17)
          span.medium-rect
          span.rf I__I__I__I__I__I__I__I__I

        p(class="p-rect")  
          span 20 – Total de l’IRPP retenue : (20 = 6+12+18)
          span.medium-rect
          span.rf I__I__I__I__I__I__I__I__I

      .reserve
        p.title Cadre réservé à l’Administration

    .footer
      p 2


  .page(id="page-3")
    .revenus
      .public
        h3 B- Revenus fonciers 
          span(style="font-weight: normal; font-size: 12px") (remplir en annexe page 5 le tableau relatif aux propriétés données en location)

        .grid
          p.grid-text
            span 1- Revenu brut encaissé : (mentionner le total des loyers payés par le locataire)
          p.p-tc
            span.card
            span I__I__I__I__I__I__I__I__I

          p.grid-text 
            span 2- abattement forfaitaire :
            span (1) x 30%
          p.card

          p.grid-text
            span 3- frais réel
            sup 1
            span (joindre les justificatifs des frais déduits)
          p.card

          p.grid-text 
            span 4 – charges déductibles :  
            span (a) + (b) + (c) + (d)
          p.p-tc
            span.card
            span I__I__I__I__I__I__I__I__I

          p.grid-text
            span a - intérêts des emprunts pour l’acquisition des biens concernés ou pour travaux
          p.card

          p.grid-text
            span b - TSIL payée par le bailleur ou précomptée
          p.card

          p.grid-text
            span c – Contribution Foncière des Propriétés Bâties payée
          p.card

          p.grid-text
            span d - Contribution Foncière des Propriétés non Bâties payée
          p.card

          p.grid-text
            span 5– Déficit de l’exercice: (reportable sur 3 exercices)
            span (5)= (1) - (2 ou 3)-(4)
          p.card

          p.grid-text
            span 6 – Revenu net de l’exercice : (6) = (1) – (2 ou 3) – (4)
          p.card

          p.grid-text
            span 7 - Imputations des déficits antérieurs : 
            span année 20
          p.p-tc
            span.card
            span I__I__I__I__I__I__I__I__I

          p.grid-text(style="text-align: right;")
            span
            span Année 20
          p.p-tc
            span.card
            span I__I__I__I__I__I__I__I__I

          p.grid-text(style="text-align: right;")
            span
            span Année 20 
          p.p-tc
            span.card
            span I__I__I__I__I__I__I__I__I

          p.grid-text
            span 8– Revenu net taxable :  (8) = (6) – (7)
          p.p-tc
            span.card
            span I__I__I__I__I__I__I__I__I

        h5(style="border-top: 1px solid black; border-bottom: 1px solid black;") 
          span C – Revenus professionnels 2 (Contribuables soumis aux régimes simplifié ou réel d’imposition)
          span(style="border-top: 1px solid black; border-bottom: 1px solid black;") Cadre réservé à l’administration

        p
          strong 1 – Bénéfices des activités industrielles et commerciales (BIC) ou artisanales :

        .grid
          p.grid-text(style="padding-left: 20px")
            span a- Chiffre d’affaires HT réalisé
          p.p-tc
            span.card
            span I__I__I__I__I__I__I__I__I

          p.grid-text(style="padding-left: 20px")
            span b- Bénéficie Imposable (report du bénéfice de la déclarations ID13 ligne 2 D ou 3 D ou ligne 4 C ou 4 H)
          p.p-tc
            span.card
            span I__I__I__I__I__I__I__I__I

          p.grid-text(style="padding-left: 20px")
            span c- Déficit de l’exercice : ( (reportable sur 3 exercices) report de la ligne 3 C ou ligne 4 - G déclaration ID13)
          p.p-tc
            span.card
            span I__I__I__I__I__I__I__I__I

        p
          strong 2- Bénéfices des professions non commerciales (BNC)

        .grid
          p.grid-text(style="padding-left: 20px")
            span
          p.p-tc
            span.card
            span I__I__I__I__I__I__I__I__I

          p.grid-text(style="padding-left: 20px")
            span a- Chiffre d’affaires HT réalisé
          p.p-tc
            span.card
            span I__I__I__I__I__I__I__I__I

          p.grid-text(style="padding-left: 20px")
            span b- Bénéficie Imposable (reporter le bénéfice imposable déterminé sur les déclarations n° ID13 Bis, ligne 2 D ou 3 C ou n° ID14, ligne 4 A 2)
          p.p-tc
            span.card
            span I__I__I__I__I__I__I__I__I

          p.grid-text(style="padding-left: 20px")
            span c- Déficit de l’exercice : ((reportable sur 3 exercices) report de la ligne 4 A 1 déclaration ID14,)
          p.p-tc
            span.card
            span I__I__I__I__I__I__I__I__I

          p.grid-text(style="padding-left: 20px")
            span
          p.p-tc
            span.card
            span I__I__I__I__I__I__I__I__I

        p
          strong 3- Bénéficies des professions agricoles (BA)

        .grid
          p.grid-text
            span a- Chiffre d’affaires HT réalisé
          p.p-tc
            span.card
            span I__I__I__I__I__I__I__I__I

          p.grid-text
            span b- Bénéficie fiscal (reporter le bénéfice imposable déterminé sur les déclarations n° ID13 Ter, ligne 2 C ou ligne 3 C ou n° ID14, ligne 4 A 2)
          p.p-tc
            span.card
            span I__I__I__I__I__I__I__I__I

          p.grid-text
            span c- Déficit : ((reportable sur 3 exercices) report de la ligne 4 A1 déclaration n° ID14,)
          p.p-tc
            span.card
            span I__I__I__I__I__I__I__I__I

      .reserve
        p.title Cadre réservé à l’Administration

    .notes
      p.note
        sup 1
        span La déduction forfaitaire s’applique automatiquement, sauf demande écrite et expresse du contribuable pour une déduction de ses frais réels. Cette option s’applique obligatoirement pour trois ans.

      p.note
        sup 2
        span Si le foyer fiscal exploite plusieurs entreprises individuelles cumuler leur résultat.

    .footer
      p 3


  .page(id="page-4")
    .revenus
      .public
        h5 Accompte d'irpp déjà versés

        table
          tr
            td BIC
            td
            td
            td
            td

          tr
            td BNC
            td
            td
            td
            td

          tr
            td BA
            td
            td
            td
            td

        h5 Précomptes
        .grid
          p.grid-text
            span Précompte sur achat de grumes :
          p.p-tc
            span.card
            span I__I__I__I__I__I__I__I__I

          p.grid-text
            span Précompte sur prestations de service :
            br
            span(style="font-size: 10px;") (Pour que l’imputation soit admise, fournir un relevé détaillé des retenues effectuées en précisant les nom des collecteurs du précompte et leur NIF avec copie des quittances)
          p.p-tc
            span.card
            span I__I__I__I__I__I__I__I__I

          p.grid-text
            span Crédits d’impôt des exercices antérieurs :
          p.p-tc
            span.card
            span I__I__I__I__I__I__I__I__I

      .reserve

    .revenus
      .public
        h3 IV – Revenus réalisés hors du Gabon
        .grid
          p.grid-text
            span a - Revenus nets:
          p.p-tc
            span.card
            span I__I__I__I__I__I__I__I__I

        p(style="padding-left: 8px; padding-bottom: 8px;") Ou

        .grid
          p.grid-text
            span b – Déficit :
          p.p-tc
            span.card
            span I__I__I__I__I__I__I__I__I
      .reserve      
        p.title Cadre réservé à l’Administration

    .revenus
      .public
        h3 V – Charges à déduire du revenu global (joindre las attestations nécessaires)
        .grid
          p.grid-text
            span a - Intérêts des emprunts pour l’habitation principale sise au Gabon : (limités à 6 000 000 Fcfa)
          p.p-tc
            span.card

        .grid
          p.grid-text
            span b - Pensions alimentaires fixées par jugement : (joindre une copie du jugement du Tribunal)
          p.p-tc
            span.card

        .grid
          p.grid-text
            span c – Mutuelles
          p.p-tc
            span.card

        .grid
          p.grid-text
            span d - Versement volontaire retraite et sécurité sociale à l’exclusion des retenues faites par l’employeur : (limité à 10% du revenu global)
          p.p-tc
            span.card

        .grid
          p.grid-text
            span e - Arrérages de rentes à titre obligatoire et gratuit : (certificat de non imposition des bénéficiaires, justification des versements)
          p.p-tc
            span.card

        .grid
          p.grid-text
            span f- Primes d’assurances-vie : (limité à 5% du revenu global)
          p.p-tc
            span.card

        .grid
          p.grid-text
            strong g - Montant total des charges déductibles :
            span (a) + (b) + (c) + (d) + (e) (f)
          p.p-tc
            span.card
            span I__I__I__I__I__I__I__I__I

      .reserve      
        p.title Cadre réservé à l’Administration

    .revenus
      .public
        h3 VI – Détermination du revenu net global
        .grid
          p.grid-text
            strong A – Total des revenus :
            br
            span (cumuler les sommes inscrites en III-A20, III-B6, III-C1 ou III-C2 ou III-C3, IV-a ou IV-b)
          p.p-tc
            span.card
            span I__I__I__I__I__I__I__I__I

        .grid
          p.grid-text
            strong B – Total des charges déductibles : (reporter le total inscrit en V g)
          p.p-tc
            span.card
            span I__I__I__I__I__I__I__I__I


        .grid
          p.grid-text
            strong REVENU NET GLOBAL
            span (A) – (B)
          p.p-tc
            span.card
            span I__I__I__I__I__I__I__I__I


      .reserve      
        p.title Cadre réservé à l’Administration

    .footer
      p 4

  .page(id="page-5" style="padding: 40px")
    .cadre
      h2(style="text-align: center;") AUTRES RENSEIGNEMENTS

      h4 Conditions de logement

      .list
        p Locataire
        .rect
        p Propriétaire
        .rect

      p (Cocher la case adéquate)

      p Si locataire :

      p Montant du loyer annuel versé :

      p Nom du propriétaire :

      p NIF du propriétaire : I__I__I__I__I__I__I I__I

      p Agence immobilière :

      p NIF de l’agence immobilière : I__I__I__I__I__I__I I__I

    .cadre(style="position: relative; bottom: 1px; padding: 4px 0px; border:none;")
      h3(style="border-bottom: 1px solid black") Impôt sur le Revenu des Capitaux Mobiliers (IRCM)

      table
        tr
          td Nature des revenus
          td (1) Revenus encaissés sur la période
          td (2) Taux 
          td Montant de l’impôt (1) x (2)
        tr
          td 
            span Revenus de capitaux mobiliers et assimilés 
            br
            span(style="font-size: 8px;") (Art. 98 et 103 du CGI)
          td 
          td 20%
          td
        tr
          td Intérêts de bons de caisse
          td
          td 15%
          td
        tr
          td Revenus d’obligations à moins de 5 ans
          td
          td 10%
          td
        tr
          td Revenus perçus par des non résidents
          td
          td 20%
          td
        tr
          td
          td
            strong Total
          td
          td

      table
        tr
          th
            strong Impôt sur les Plus-Values
          th 
        tr
          td (1) prix de vente :
          td
        tr
          td (2) Frais supportés par le vendeur :
          td
        tr
          td (3) Prix de vente net : (3 = 1 – 2)
          td
        tr
          td (4) Prix d’acquisition :
          td
        tr
          td (5) frais afférents à l’acquisition :
          td
        tr
          td (6) dépenses immobilières depuis l’acquisition :
          td
        tr
          td (7) Prix d’acquisition révisé : (7 = 4 + 5 + 6)
          td
        tr
          td (8) Plus value brute : (8 = 3 – 7)
          td
        tr
          td (9) Moins value : (9 = 7 – 3)
          td
        tr
          td (10) abattement forfaitaire : (10 = 8 x 15%)
          td
        tr
          td (11) Plus value nette :  (11 = 8 –10)
          td
        tr
          td (12) Montant de l’impôt dû : (12 = 11 x 20%)
          td(style="width: 50%")

    div.signature-cn
      table
        tr
          td Cadre réservé à l’administration
        tr
          td Date de la saisie :
        tr
          td Matricule de l’agent de saisie :

      .signature
        p.date
          span Fait
          span
          span ,le
          span

        p(style="text-align: center;") Signature du contribuable


    .footer
      p 5