link(rel='stylesheet', href='/stylesheets/page.css')

.fiche
  .page
    .doc-head
      div
        h1 République Gabonaise
        h2 Ministère de l'économie
        h3 Direction Générale des Impôts
        h4 BP 37 / 45 - Libreville
        h4 Tel: 79.53.76 ou 79.53.77 
    
      .cache-service
        p Date de réunion et cachet du service
    
    .doc-title
      h1 Déclaration
      p (À établir en deux exemplaires)
      h2 Impôt su les société: 1
       sup er
       span Acompte
    
    .doc-date
      p Excercice: 
        strong.exercice
        em (exercice au titre duquel l’acompte est payé)
    
    .doc-nif
      p
       strong N° du contribuable:
       span.nif
      em (Numéro d’Identification Fiscale (NIF))
    
    .doc-step-1
      .identification
        h2 1- Identification du contribuable
        .identification-content
          .key-value
            p.key Raison social
            p.raison_social(class="value")

          .quatre
            .key-value
              p.key Sigle
              p.sigle(class="value")
            
            .key-value
              p.key Ville
              p.ville(class="value")
            
            .key-value
              p.key Boite postal
              p.boite_postal(class="value")
            
            .key-value
              p.key Télécopie
              p.telecopie(class="value")
            
            .key-value
              p.key Téléphone
              p.telecopie(class="value")
            
            .key-value
              p.key Site internet
              p.site_internet(class="value")
            
            .key-value
              p.key Adresse Email
              p.email(class="value")
            
            .key-value
              p.key Code de résidence
              p.code_residence(class="value")
             
      .reserver
        p Cadre réservé à l’administration
    