  
main  
  .home(class="current-declaration")
    include declaration_home.pug

  .irpp
    include declaration_irpp.pug

  .is1
    include declaration_is_1.pug

  .is2
    include declaration_is_2.pug

  .is
    include declaration_is.pug

script(src="/javascripts/declaration.js")