div(class="ifp interlocuteur-fiscal-cn mc-it")
  h1 
    i(class="far fa-star")
    span Où dois je aller pour payer mes impôts
  p En fonction de l'impôt que vous devez payer, il y'a un IFU dédié. Dans cette rubrique, on vous indique exactement l'endroit ou vous devez vous rendre et quel interlocuteur vous devez rencontrer pour payer vos impôts.