extends ../layout

block content
  link(rel="stylesheet", href="/stylesheets/ma_fiscalite.css")
  link(rel="stylesheet", href="/stylesheets/alert.css")
  link(rel="stylesheet", href="/stylesheets/alert_paiement.css")
  link(rel="stylesheet", href="/stylesheets/dialog.css")
  link(rel="stylesheet", href="/stylesheets/home.css")
  

  
  include ../includes/main_header.pug
  +header('home')

  div(class="alert zero-height")
    .alert-header
      a(href="#" class="alert-close" onclick="hideSituationFiscaleAlertDialog()") &times;
    p Pour pouvoir effectué cette opération il faut compléter les informations suivantes
    .right
      
  main
    nav.nav-bar
      a(href="#" id="sf" class="nav-bar-item active" onclick="enableNavBarItem(this)")
        i(class="fa fa-poll")
        span Situation fiscal
      a(href="#" id="rf" class="nav-bar-item"  onclick="enableNavBarItem(this)") 
        i(class="fa fa-poll")
        span Régime fiscal 
      
      if forfait.type == 2 || forfait.type == 3
        a(href="#" id="dlp" class="nav-bar-item" onclick="enableNavBarItem(this)") 
          i(class="fa fa-clock")
          span Date limite de paiement
      else
        a(href="#" id="dlp" class="nav-bar-item disable" title="Changez de forfait pour y accéder") 
          i(class="fa fa-clock")
          span Date limite de paiement
      a(href="#" id="ifp" class="nav-bar-item" onclick="enableNavBarItem(this)") 
        i(class="fa fa-user")
        span Interlocuteur fiscal

    .main-content
      include ../situation_fiscale/situation_fiscale_home.pug
      include ../regime_fiscal/regime_fiscal_home.pug
      include ../alert_paiment/alert_paiement_home.pug
      include ../interlocuteur_fiscal/interlocuteur_fiscal_home.pug
  
  script(src="/javascripts/home.js")
  script(src="/javascripts/alert.js")


      