extends ../layout

block content
  link(rel="stylesheet", href="/stylesheets/home.css")
  link(rel="stylesheet", href="/stylesheets/alert.css")

  include ../includes/main_header.pug
  +header('profil')