div(class="result-cn")
  p Vous y êtes,
  p Voici votre situation fiscale

  h1 Base Imposable
  table
    tr
      th Nom
      th Abbreviation
      th Total

    tr
      td Retenue sur salaire
      td RS
      td.rs-value 0 
    tr
      td Revenue net foncier
      td RF
      td.rf-value 0 
    tr
      td Plus-value
      td PC
      td.pc-value 0 
    tr
      td Retenue des capitaux
      td IRVM
      td.irvm-value 0 
    tr
      td Bénéfice des activités industrielles
      td BIC
      td.bic-value 0 
    tr
      td Bénéfices des activités agricoles
      td BA
      td.ba-value 0 
    tr
      td
        strong Total
      td
      td.total-value 0

  h1 Nombre de part
  table
    tr
      th Situation matrimonial
      th Nombre d'enfant
      th Cas particulier
      th Nombre de part
    tr
      td.situation_matrimonial 
      td.nombre_enfant
      td.cas
      td.nombre_part
  
  h1 IRPP
  table
    tr
      th Total
      th.irpp