div(class="result-cn")
  p Vous y êtes,
  p Voici votre situation fiscale

  h1 Base Imposable
  table
    thead
      th Nom
      th Abbreviation
      th Total

    tr
      td Retenue sur salaire
      td RS
      td
        span.rs-value 0
        span FCFA 
    tr
      td Revenue net foncier
      td RF
      td
        span.rf-value 0
        span FCFA 
    tr
      td Plus-value
      td PVC
      td
        span.pc-value 0
        span FCFA 
    tr
      td Retenue des capitaux
      td IRVM
      td
        span.irvm-value 0 
        span FCFA
    tr
      td Bénéfice des activités industrielles
      td BIC
      td
        span.bic-value 0
        span FCFA 
    tr
      td Bénéfices des activités agricoles
      td BA
      td
        span.ba-value 0
        span FCFA 
    tfoot
      td
        strong Total
      td
      td
        span.total-value 0
        span FCFA

  h1 Nombre de part
  table
    thead
      th Situation matrimonial
      th Nombre d'enfant
      th Cas particulier
      th Nombre de part
    tr
      td.situation_matrimonial 
      td.nombre_enfant
      td.cas
      td.nombre_part
        
  
  h1 IRPP
  table
    thead
      th IRPP
      th
        span.irpp
        span FCFA