div(class="result-cn")
  p Vous y êtes,
  p Voici votre situation fiscale

  table
    tr
      th Impôt
      th Abbreviation
      th Total
      th Devise
    tr
      td Contribution spécial de solidarité
      td CSS
      td.css-value 0
      td FCFA
    tr
      td Contribution à la formation professionnelle
      td CFP
      td.cfp-value 0 
      td FCFA
    
    tr
      td Impots sur les sociétés
      td IS
      td.is-value 0
      td FCFA

    tr
      td Revenu foncier
      td RF
      td.rf-value 0 
      td FCFA

    tr
      td
        strong Total
      td
      td.total-value 0
      td FCFA