div(class="result-cn")
  p Vous y êtes,
  p Voici votre situation fiscale

  h1
  div(style="overflow-x:auto;")
    table
      thead
        th Impôt
        th Abbreviation
        th Total
        th Devise
      tr
        td Contribution spécial de solidarité
        td CSS
        td.css-value 0
        td FCFA
      tr
        td Contribution à la formation professionnelle
        td CFP
        td.cfp-value 0 
        td FCFA

      tr
        td Impots sur les sociétés
        td IS
        td.is-value 0
        td FCFA
      
      tr
        td Patente
        td
        td.res_patente
        td FCFA

      tr
        td La contribution foncière des propriétés bâties 
        td CFPB
        td.cfpb-value 0 
        td FCFA

      tr
        td La contribution foncière des propriétés non bâties
        td CFPNB
        td.cfpnb-value 0 
        td FCFA

            tr
        td La taxe spéciale immobilière sur les loyers 
        td TSIL
        td.tsil-value 0 
        td FCFA
