extends ../layout

block content
  link(rel="stylesheet", href="/stylesheets/custom-select.css")
  link(rel="stylesheet", href="/stylesheets/situation_fiscale.css")
  link(rel="stylesheet", href="/stylesheets/step_bar.css")


  include situation_fiscale_header.pug

  main
    include ../includes/step_bar.pug
    - var a = [{title: "ISL", details: "Impôt Synthétique Libératoire"}, {title: "QF", details: "Nombre de parts"}, {title: "RS", details: "Retenue sur salaire"},{title: "RF", details: "Revenues foncier"},{title: "PVC", details: ""},{title: "IRVM", details: ""},{title: "BIC", details: ""}, {title: "Patente", details:""}, {title: "BA", details: ""}]
    +bar(a)
    include resultat_particulier.pug
    .form-container
      div(class="isl current-base")
        p.question Êtes vous salarié?
        .yes-no-cn
          .form-group
            input#salarie-oui(type="radio", name="q-salarie" value="oui")
            label(for="salarie-oui") Oui
          .form-group
            input#salarie-non(type="radio", name="q-salarie" value="non")
            label(for="salarie-non") Non

        p.question Exercez vous une activité personnelle dans l'un des secteurs suivant? (Sélectionnez le secteur similaire au votre)
        div(class="custom-select" width="400px")
          select(name="secteur")
            option(value="-1") Je n'ai aucune activité similaire à celles listées

        p.question Dans quel ville Exercez vous?
        .text-field-cn
          .form-group
            input#lbv_pog_fcv(type="radio" name="ville_isl" value="lbv_pog_fcv" checked)
            label(for="lbv_pog_fcv") Libreville, Port-Gentil, Franceville
          .form-group
            input#autre_commune(type="radio" name="ville_isl" value="autre_commune" checked)
            label(for="autre_commune") Autres communes
          .form-group
            input#departement(type="radio" name="ville_isl" value="departement")
            label(for="departement") Autres départements

      div(class="rs")
        .text-field-cn
          select(name="secteur")
            option(value="none") Je n'ai pas d'activité
        p.question Quel est votre situation matrimoniale?
        .text-field-cn
          .form-group
            input#marie(type="radio" name="matrimonial" value="marie" checked)
            label(for="marie") Marié
          .form-group
            input#celibataire(type="radio" name="matrimonial" value="celibataire" checked)
            label(for="celibataire") Célibataire
          .form-group
            input#divorce(type="radio" name="matrimonial" value="divorce")
            label(for="divorce") Divorcé
          .form-group
            input#veuf2(type="radio" name="matrimonial", value="veuf2")
            label(for="veuf2") Veuf après deux ans
          .form-group
            input#epouse_salarie(type="radio" name="matrimonial", value="epouse_salarie")
            label(for="epouse_salarie") Epouse salariée
          .form-group
            input#polygame(type="radio" name="matrimonial", value="polygame")
            label(for="polygame") Polygame
          .form-group
            input#veuf(type="radio" name="matrimonial", value="veuf")
            label(for="veuf") Veuf (2 premières années)
        p.question Combien d'enfant à charge avez vous (Mineur dont vous vous en occuper)?
        .text-field-cn
          .form-group
            input#enfant(type="number" name="enfants" value="0" min="0")
            label(for="enfant") Nombre d'enfants à charge
        div.question 
          p Êtes vous dans l'une des situations suivantes?
          ul
            li J'ai au moins un enfant majeur
            li J'ai au moins un enfant décédé avant 16 ans
            li Je touche une pension de 40% pour invalidité de guerre ou de travail
            li Je touche une pension de veuve de guerre
        .text-field-cn
          .form-group
            input#cp-oui(type="radio", name="cas_particulier" value="oui" onclick="nextQuestion(this.value)")
            label(for="cp-oui") Oui
          .form-group
            input#cp-non(type="radio", name="cas_particulier" value="non" onclick="nextQuestion(this.value)")
            label(for="cp-non") Non

      div(class="q")
        p.question Renseignez les informations suivante:
        .text-field-cn
          .form-group
            input#traitement(type="text" name="traitement" onkeyup="addSpaceOnNumber(this, this.value)")
            label(for="traitement") Traitement
          .form-group
            input#salaire(type="text" name="salaire" onkeyup="addSpaceOnNumber(this, this.value)")
            label(for="salaire") Salaire
          .form-group
            input#indemnite(type="text" name="indemnite" onkeyup="addSpaceOnNumber(this, this.value)")
            label(for="indemnite") Indemnité
          .form-group
            input#emolument(type="text" name="emolument" onkeyup="addSpaceOnNumber(this, this.value)")
            label(for="emolument") Emoluments
          .form-group
            input#avantage(type="text" name="avantage_espece_argent" onkeyup="addSpaceOnNumber(this, this.value)")
            label(for="avantage") Avantage en argent et en nature
          .form-group
            input#pensions(type="text" name="pension" onkeyup="addSpaceOnNumber(this, this.value)")
            label(for="salaire") Pensions
          .form-group
            input#retenues-retraite(type="text" name="retenu_retraite" onkeyup="addSpaceOnNumber(this, this.value)")
            label(for="retenues-retraite") Retenues retraites
          .form-group
            input#cotisation-assurance-maladie(type="text" name="cotisation_assurance_maladie" onkeyup="addSpaceOnNumber(this, this.value)")
            label(for="cotisation-assurance-maladie") Cotisation assurance maladie
          .form-group
            input#rente-viagere(type="text" name="rente_viagere" onkeyup="addSpaceOnNumber(this, this.value)")
            label(for="rente-viagere") Rentes viagères

      div(class="rf")
        p.question Avez vous des propriétés avec des batîments 
        .yes-no-cn
          .form-group
            input#batiment-oui(type="radio", name="q-batiment" value="oui" onclick="nextQuestion(this.value)")
            label(for="batiment-oui") Oui
          .form-group
            input#batiment-non(type="radio", name="q-batiment" value="non" onclick="nextQuestion(this.value)")
            label(for="batiment-non") Non

        p.question Renseignez les champs suivant
        .text-field-cn
          .form-group
            input#batiment(type="text" name="valeur_locative" onkeyup="addSpaceOnNumber(this, this.value)")
            label(for="batiment") Quel est leur valeur locative en cumulé?  

        p.question Avez vous des terrains nus ?
        .yes-no-cn
          .form-group
            input#vv-oui(type="radio", name="q-vv" value="oui" onclick="nextQuestion(this.value)")
            label(for="vv-oui") Oui
          .form-group
            input#vv-non(type="radio", name="q-vv" value="non" onclick="nextQuestion(this.value)")
            label(for="vv-non") Non

        p.question Renseignez les champs suivant
          .text-field-cn
            .form-group
              input#vv(type="text" name="valeur_venal" onkeyup="addSpaceOnNumber(this, this.value)")
              label(for="vv") A combien estimez vous la valeur de ces terrains
            .form-group
              input#total_interet(type="text" name="total_interet" onkeyup="addSpaceOnNumber(this, this.value)")
              label(for="total_interet") total des Intérêts liés aux emprunts réalisés pour construire, acquérir, réparer ou entretenir la propriété

        p.question Avez vous des maisons en location ?
        .yes-no-cn
          .form-group
            input#location-oui(type="radio", name="q-location" value="oui" onclick="nextQuestion(this.value)")
            label(for="location-oui") Oui
          .form-group
            input#location-non(type="radio", name="q-location" value="non" onclick="nextQuestion(this.value)")
            label(for="location-non") Non

        p.question Renseignez les champs suivant
        .text-field-cn
          .form-group
            input#lm(type="text" name="loyer_mensuel" onkeyup="addSpaceOnNumber(this, this.value)")
            label(for="lm") Quel est le total des loyés percue par mois
          .form-group
            input#charge_proprietaire_par_locataire(type="text" name="charge_proprietaire_par_locataire" onkeyup="addSpaceOnNumber(this, this.value)")
            label(for="charge_proprietaire_par_locataire") Montant des charges du propriétaire assurées par le locataire
          .form-group
            input#depense_proprietaire_pour_locataire(type="text" name="depense_proprietaire_pour_locataire" onkeyup="addSpaceOnNumber(this, this.value)")
            label(for="depense_proprietaire_pour_locataire") Dépenses supportées par le propriétaire pour le compte des locataires

      div(class="pc")
        p.question Avez vous vendu des biens de votre patrimoine?
        .yes-no-cn
          .form-group
            input#v-oui(type="radio", name="q-v" value="oui" onclick="nextQuestion(this.value)")
            label(for="v-oui") Oui
          .form-group
            input#v-non(type="radio", name="q-v" value="non" onclick="nextQuestion(this.value)")
            label(for="v-non") Non

        p.question Renseignez les bénéfices perçus pour chaque bien
        .text-field-cn
          button(class="btn" onclick="addBien()") Ajouter un bien
          .biens

      div(class="irvm")
        p.question Possédez vous des revenus issus de placements financiers ? (Actions, obligations, intérêts, etc)
        .yes-no-cn
          .form-group
            input#action-oui(type="radio", name="q-action" value="oui" onclick="nextQuestion(this.value)")
            label(for="action-oui") Oui
          .form-group
            input#action-non(type="radio", name="q-action" value="non" onclick="nextQuestion(this.value)")
            label(for="action-non") Non

        p.question Renseignez les champs suivant
        .text-field-cn
          .form-group
            input#action(type="text" name="action" onkeyup="addSpaceOnNumber(this, this.value)")
            label(for="action") Produits des actions détenues
          .form-group
            input#obligation(type="text" name="obligation" onkeyup="addSpaceOnNumber(this, this.value)")
            label(for="obligation") Revenus des obligations
          .form-group
            input#interets_creances(type="text" name="interets_creances" onkeyup="addSpaceOnNumber(this, this.value)")
            label(for="interets_creances") Intérêts issus des comptes bancaires, des cautions, des dépôts ou des créances
          .form-group
            input#interets_bon_caisse(type="text" name="interets_bon_caisse" onkeyup="addSpaceOnNumber(this, this.value)")
            label(for="interets_bon_caisse") Intérêts de bon de caisse

      .bic
        p.question Avez vous effectué des ventes de produits que vous avez fabriquer en transformant des matières premières?
        .yes-no-cn
          .form-group
            input#vente-oui(type="radio", name="q-vente" value="oui" onclick="nextQuestion(this.value)")
            label(for="vente-oui") Oui
          .form-group
            input#vente-non(type="radio", name="q-vente" value="non" onclick="nextQuestion(this.value)")
            label(for="vente-non") Non

        p.question Répondez aux questions suivante
        .text-field-cn
          .form-group
            input#prix_vente(type="text" name="prix_vente" onkeyup="addSpaceOnNumber(this, this.value)")
            label(for="prix_vente") Prix de vente du produit final
          .form-group
            input#prix_achat(type="text" name="prix_achat" onkeyup="addSpaceOnNumber(this, this.value)")
            label(for="prix_achat") Prix d’achat des matières premières
          .form-group
            input#frais_transformation(type="text" name="frais_transformation" onkeyup="addSpaceOnNumber(this, this.value)")
            label(for="frais_transformation") Frais lié au processus de transformation

      .patente
        p.question Exercez vous une activité personnelle dans l'un des secteurs suivant? (Sélectionnez le secteur similaire au votre, si il n'y en a aucun continuer simplement)
        div(class="custom-select" width="400px")
          select(name="patente")
            option(value="-1") Je n'ai aucune activité similaire à celles listées ci desous

        p.question Dans quel ville Exercez vous?
        .text-field-cn
          .form-group
            input#lbv_pog_p(type="radio" name="ville_patente" value="lbv_pog" checked)
            label(for="lbv_pog_p") Libreville, Port-Gentil
          .form-group
            input#autre_commune_p(type="radio" name="ville_patente" value="autre_commune" checked)
            label(for="autre_commune_p") Autres communes
          .form-group
            input#departement_p(type="radio" name="ville_patente" value="departement")
            label(for="departement_p")  Départements


      .ba
        p.question Quel bénéfice gagnez vous de vos production agricole?
        .form-group
          input#benefice-agricole(type="text" name="b2" onkeyup="addSpaceOnNumber(this, this.value)")
          label(for="benefice-agricole") Bénéfices    

      section.actions-btn-cn
        button(onclick="previousQuestion()") Revenir 
        button(onclick="nextQuestionISL('next')") On conitnue 

  script(src="/javascripts/logic/secteur.js")
  script(src="/javascripts/logic/patente_table.js")
  script(src="/javascripts/util/form_step_management.js")
  script(src="/javascripts/util/input_management.js")
  script(src="/javascripts/situation_fiscale_particulier.js" defer)
  script(src="/javascripts/step_bar.js")
  script(src="/javascripts/logic/calcul_base_imposable_et_impots.js")
  script(src="/javascripts/logic/determination_irpp.js")
  script(src="/javascripts/util/custom-select.js")