div(class="sf situation-fiscale-cn mc-it active")
  h1 
    i(class="far fa-star")
    span Ma situation fiscale
  .illustration-cn
    img(class="reflexion-img" src="https://images.unsplash.com/photo-1434030216411-0b793f4b4173?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80", alt="Illustration")
    .details
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum nihil eaque, voluptate nostrum praesentium inventore cumque temporibus quo culpa incidunt excepturi reiciendis quos repellat ratione atque ipsam magni amet pariatur!
      - var str = JSON.stringify(user);
      a(href="#" onclick="showSituationFiscalAlerteDialog("+str+")" class="btn") Déterminer ma situation fiscale