extends ../layout

block content
  link(rel="stylesheet", href="/stylesheets/situation_fiscale.css")

  p.empty_sf(style="padding: 20px; color: black;")

  div(class="result-cn societe")
    p Situation fiscale de
      strong(style="padding-left: 4px;") #{user.nom}
    table
      thead
        th Impôt
        th Abbreviation
        th Total
        th Devise
      tr
        td Contribution spécial de solidarité
        td CSS
        td.css-value 0
        td FCFA
      tr
        td Contribution à la formation professionnelle
        td CFP
        td.cfp-value 0 
        td FCFA

      tr
        td Impots sur les sociétés
        td IS
        td.is-value 0
        td FCFA

      tr
        td La contribution foncière des propriétés bâties 
        td CFPB
        td.cfpb-value 0 
        td FCFA

      tr
        td La contribution foncière des propriétés non bâties
        td CFPNB
        td.cfpnb-value 0 
        td FCFA

            tr
        td La taxe spéciale immobilière sur les loyers 
        td TSIL
        td.tsil-value 0 
        td FCFA

  .particulier
    div(class="result-cn")
      .irpp-cn
        h1 Base Imposable
        table
          thead
            th Nom
            th Abbreviation
            th Total  
          tr
            td Retenue sur salaire
            td RS
            td
              span.rs-value 0
              span FCFA 
          tr
            td Revenue net foncier
            td RF
            td
              span.rf-value 0
              span FCFA 
          tr
            td Plus-value
            td PVC
            td
              span.pc-value 0
              span FCFA 
          tr
            td Retenue des capitaux
            td IRVM
            td
              span.irvm-value 0 
              span FCFA
          tr
            td Bénéfice des activités industrielles
            td BIC
            td
              span.bic-value 0
              span FCFA 
          tr
            td Bénéfices des activités agricoles
            td BA
            td
              span.ba-value 0
              span FCFA 

        h1 Nombre de part
        table
          thead
            th Nombre de part
          tr 
            td.nombre_part

        h1 IRPP
        table
          thead
            th IRPP
          tr
            td
              span.irpp
              span FCFA

        .forfait
          h1 Vous devez payer le minimum forfaitaire
          table
            thead
              th Minimum forfaitaire
              th 500 000 FCFA

        .isl
          h1 Impôt Synthétique Libératoire
          table
            thead
              th ISL
              th
                span.isl-value
                span FCFA

  .penalites(style="padding: 20px;")
    p.empty_p
    h1(class="pm-color") Vos pénalités

    table
      thead(style="background-color: red;")
        tr
          th Impôt
          th Pénalités
      tbody


  p(style="text-align:center; padding-bottom: 20px;").easytax Généré avec l'application easytax
    script(src="/javascripts/util/input_management.js")
    script(src="/javascripts/situation_fiscal_view.js")
