div(class="sf situation-fiscale-cn mc-it active")
  h1 
    i(class="far fa-star")
    span Ma situation fiscale
  .illustration-cn
    img(class="reflexion-img" src="https://images.unsplash.com/photo-1434030216411-0b793f4b4173?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80", alt="Illustration")
    .details
      p(style="text-align: justify;")
        span(style="margin-bottom: 8px;") Votre situation fiscale, c’est la somme que vous devez reverser à l’état. Pour déterminer la situation fiscale il faut connaitre 
        strong(class="pm-color") la somme que vous devez payer pour chaque impôts
        span auxauels vous êtes assujettis ainsi que 
        strong(class="pm-color") les pénalités
        span liées aux delais que vous n'avez pas respectés lors des exercices précédents.
        br
        span Répondez simplement aux deux questionnaires ci-dessous et nous vous donnerons le montant exacte que vous devez à l’état. 
      - var str = JSON.stringify(user);
      a(href="#" onclick="showSituationFiscalAlerteDialog("+str+")" class="btn-yellow" style="margin-top: 32px;") Déterminer le montant des impôts

      a(href="#" class="btn-yellow" style="margin-top: 16px;") Déterminer les pénalités
