div(class="dialog alert-paiement-create")
  a(class="close" onclick="closeCreateAlertPaiementDialog()") &times;
  .dialog-content
    .apc-illustration
      i(class="fa fa-clock")
      h2 Créer une Alerte de paiement
    form
      .form-group
        label Choisissez un impôt
        select(class="impots" name="impot")
      .form-group
        label(for="date_alert") Nombre de jour avant l'alerte
        input#date_alert(type="number" name="date_alert")
      button(onclick="createAlert()") Créer