div(class="dlp alert-paiement-cn mc-it")
  h1 
    i(class="far fa-star")
    span Alerte avant la date limite de paiement des impôts

  p Vous avez des échéances consernant le paiement de vos impôts. Nous pouvons vous alerter quelques jours avant et vous évitez des pénalités.
  br
  p Pour cela, paramétrez juste le tableau suivant en ajoutant de nouvelles alertes ou en modifiant les dates de répétition. 


  - let f = JSON.stringify(forfait);
  button(style="margin-left: 0px;" onclick="deleteAllAlert('"+f+"')") Réinitialiser le planning d'alerte
  div(style="overflow-x:auto;")
    table
      thead
        th Impôts
        th Date de paiement
        th Date d'alerte
        th Actions
      tbody(class="alerts")

include ./alert_paiement_update.pug
include ../includes/update_forme_juridique_dialog.pug

script(src="/javascripts/alert_paiement.js")
